* {
  box-sizing: border-box;
}
 /* div for the select */

/* select tag */
/* select {
background-color: #53B8BB;
width: 100%;

border: 3px solid #53B8BB; }*/


/* categories style */
/* optgroup {
  background-color: #53B8BB;
  width: 100%;
  padding: 5%;
  border: 3px solid #53B8BB; 
  

} */

/* option styles after the render in js */



/* h1 {
  text-align: center;
  border: 3px solid #3C8DAD;
  padding: 10px;
  border-radius: 25px;
}
/* for select */
/* #hide-option {
  display:none;
} */
.navMenu {
  position: absolute;
  top: 10%;
  left: 40%;
  /* position: relative; */
  width: 50%;
  /* background-color: red; */

  
}


.navMenu :nth-child(4){
    position: absolute;
  left: 90%;
}
.navMenu a {
  color: blue;
  font-family: cursive;
  text-decoration: none;
  font-size: 1 em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 120px;
}
.navMenu a:hover {
  color: #FFA900;
}
.hide {
  display:none;
}
#hide-price {
  display:none;
}

#hide-first {
  display:none;
}

/* #hide-price {
  display:none;
} */



main{
  text-align: center;
  /* width: 225%; */
}
h1{
  text-align: center;
  color: darkblue;
}
h2{
  color: darkblue;
}
h3{
  color: rgb(107, 107, 224);
}
h4{
  color: #F68C1E;
}
p{
  color: black;
}
img{
  width: 170px;
  height: 170px;
  border: solid black 1px;
}
div {
  /* display: inline-block; */
/* margin-top: 100px; */
  /* float: left; */
  float: left;
  border: solid #F68C1E 0.2px;
  /* float: left; */
  /* width: 25%; */
  /* padding:30px; */
  /* margin: 20px; */
  padding: 30px;
  width: 30%;
  height: 500px;
  box-shadow: 0 4px 8px 0 #012F6B;
  /* margin-left: 3%; */
}
button{
  width: 200px;
  height: 50px; 
  background-color: #012F6B;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 30px;
}
button:hover {
  box-shadow: 0 12px 16px 0 red;
  font-size: 20px;
}  

.html-page-header {
  background-color: #F68C1E;
  width: 100%;
  height:190px;
  padding: 0px;
  margin: 0px;
}

.blueLogo{
  margin-left: 20px;
  margin-top: 20px;
  border: none;
}


section{
  float: left;
  /* width: 20%; */
  /* padding:20px; */
  text-align: center;
  margin-left: 60px;
}
#label{
  color: darkblue;
  font-size: 22px;
  font-weight: bold;
}
#in1{
  width: 100px;
  height: 30px; 
  background-color: #f68c1e;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}
#in3{
  height: 28px; 
  width: 180px;
  border:solid #f68c1e 1px;
  background-color: palegoldenrod;
}
#imgsearch{
  width: 15px;
   height: 15px;
   border: solid black 1px;
   border-radius: 30px;
}
#Price{
  height: 28px; 
  width: 180px;
  border:solid #f68c1e 1px;
  background-color: palegoldenrod;
}
#Catagory{
  height: 28px; 
  width: 180px;
  border:solid #f68c1e 1px;
  background-color: palegoldenrod;
} 
form{
  float: left;
}

/* #bookbook{
display: inline-block;} */

footer {
  width: 100%;
  height:190px;
  background-color: #57837B;
  color: white;
  text-align: center;
  padding-top: 50px;
display: inline-block;
position: relative;  
margin-top: 200px;
 

}
.gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 300px;
          width: 250px;
   
 
   padding-top:33px ;
  
      }
      .mapouter {
      
         float: right;
          height: 300px;
          width: 300px;

      }


.cur {
  cursor: pointer;
 
}

.contactUs{
  color: red;
}

.picDiv{
 float: left;
  border: none;
  box-shadow: none;

}

 .editPic {
  width: 50px;
  height: 50px;

}







