
* {
  
    box-sizing: border-box;
    font-family: 'Asul', sans-serif;
  
}
body{
  background-color: #F1ECC3;
}
.navMenu {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 50%;
}

.navMenu a {
  color: #F1ECC3;
  font-family: cursive;
  text-decoration: none;
  font-size: 1 em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 120px;
}
.navMenu a:hover {
  color: #FFA900;
}

.hide {
  display:none;
}
#hide-price {
  display:none;
}
#hide-first {
  display:none;
}

main{
  text-align: center;
}
h1{
  text-align: center;
  color: #515E63;
}
h2{
  color: white;
}
h3{
  color: rgb(107, 107, 224);
}
h4{
  color: lightgreen;
}
p{
  color: rgb(233, 231, 231);
  font-size: 20px;
}
img{
  width: 170px;
  height: 170px;
  border: solid black 1px;
}
div {
  float: left;
  border: solid #F68C1E 0.2px;
  padding: 30px;
  width: 30%;
  height: 450px;
  box-shadow: 0 4px 8px 0 #012F6B;
  background-color:#334257 ;
  margin-left: 2.5%;
  margin-top: 1%;
}
button{
  width: 200px;
  height: 50px; 
  background-color: #082032;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 30px;
}
button:hover {
  
  transform:scale(1.1) ;
  
   transition-duration: 1s;
   background-color: blanchedalmond;
   color: #082032;
}  
.html-page-header {
  background-color: #57837B;
  width: 101%;
  height:170px;
  padding: 0px;
  margin: -8px;
}
.blueLogo{
  margin-left: 20px;
  margin-top: 20px;
  border: none;
  height: 140px;
    width: 150px;
}
section{
  float: left;
  text-align: center;
  margin-left: 220px;
}
#label{
  color: darkblue;
  font-size: 22px;
  font-weight: bold;
}
#in1{
  width: 100px;
  height: 30px; 
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 10px; 
  background-color: #082032;
}
#in1:hover {
  transform:scale(1.1) ;
  
   transition-duration: 1s;
   background-color: blanchedalmond;
   color: #082032;
} 
#in3{
  height: 28px; 
  width: 180px;
  border:solid #F68C1E 1px;
  background-color: palegoldenrod;
}
#imgsearch{
  width: 15px;
   height: 15px;
   border: solid black 1px;
   border-radius: 30px;
}
#Price{
  height: 38px; 
  width: 200px;
  border:solid #F68C1E 1px;
  border-radius: 15px;
  background-color: #57837B;
  color: #F1ECC3;
  font-size: 16px;
}
#list{
  height: 38px; 
  width: 200px;
  border:solid #F68C1E 1px;
  border-radius: 15px;
  background-color: #57837B;
  color: #F1ECC3;
  font-size: 16px;
}
#Catagory{
  height: 28px; 
  width: 180px;
  border:solid #F68C1E 1px;
  background-color: palegoldenrod;
} 
form{
  float: left;
}



footer {
  width: 105%;
  height:340px;
  color: white;
  text-align: center;
margin-left: -70px;
clear: both;
    position: relative;
    margin-top: 200px;
}
#orimage > img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}
.mapouter {
  float: right;
  margin-right:5%;
  margin-top: 20px;
  margin-right: 1%;
   
}

      
.cur {
  cursor: pointer;
}
.contactUs{
  color: red;
  
}
.picDiv{
 float: left;
  border: none;
  box-shadow: none;
}
 .editPic {
  width: 50px;
  height: 50px;
}
#order{
margin-left: 38%;

}
#order> p{
  font-size: 19px;
}
#orimage{
 margin-left: 20%;
}
#foot{
  background-color:#515E63;
  margin-top: 200px;
}
#copy{
  color: white;
  font-size: 25px;
  text-align: center;
  font-size: 15px;
}
