header{ 
    height: 170px;
    background-color: #57837B;
    background-position: center;
    background-size: cover; 
  }
  .navMenu a {
    color: #F1ECC3;
    font-family: cursive;
    text-decoration: none;
    font-size: 1 em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 120px;
  }
  .navMenu a:hover {
    color: #FFA900;
  }
  .blueLogo{
    margin-left: 20px;
    margin-top: 20px;
  }
  .navMenu {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 50%; 
  }
  .navMenu :nth-child(4){
      position: absolute;
    left: 110%;
  }

body{
    background-color: #F1ECC3;
}
textarea{
    height: 50px;
    width: 70% ;
    float: none;
    border-radius: 5px;
    border: 2px solid pink;
    background-color: #C9D8B6;
}
textarea:hover{
    transform: scale(1.09);
    border-radius: 15px;
    transition-duration: 0.5s;
}
button{
    width: 100px;
    height: 50px; 
    background-color: #ffd000c4;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 20px;

}
button:hover {
    transform: scale(1.2);
    transition-duration: 2s;
  }

#btn{
    width: 200px;
    height: 50px; 
    background-color: #ffd000c4;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 30px;
 }
 #btn:hover {
    transform: scale(1.2);
    transition-duration: 2s;
  }

 form{
     text-align: center;
     max-width:500px;
     margin:auto
 }
 fieldset{
    background-color: #334257;
    border: solid black 1px;
    border-radius: 10%;
    padding: 10px;
    
 }
 label{
     color: whitesmoke;
     font-size: 15px;
     font-weight: bold;
 }
 input{
    width: 95%;
  padding: 10px;
  outline: none;
  background-color: #C9D8B6;
  color: 515E63;
  font-weight: bold;
  text-align: center;
 }
 input:focus {
    border: 2px solid rgb(65, 9, 196);
  }
  ::placeholder {
    color: #515E63;
    font-weight: bold;
  }
  textarea{
    color: black;
    font-weight: bold;
  }

table{
    border-collapse: collapse;
    background-color: #334257;
    
    text-align: center;
    padding: 1px;
    width: 70%;
    margin-left: 15%;
    /* background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX2589021.jpg');   */
} 
th,td {
    font-family: 'Verdana', sans-serif;
    border-collapse: collapse;
    text-align: center;
    padding: 17px;
} 
th{
    color: rgb(6, 20, 3);
    font-size: 25px;
}
td{
    color: rgb(224, 224, 226);
    font-size: 25px;
    vertical-align: middle;
}


 img{
     width: 150px;
     height: 150px;
 }

 footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height:300px;
    background-color:#515E63;
    color: white;
    text-align: center;
    padding-top: 50px;
    display: inline-block;
    position: relative;  
  }
  .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 300px;
            width: 250px;
     position: absolute;
     padding-top:33px ;
        }
        .mapouter {
            text-align: right;
            height: 300px;
            width: 300px;
            position: absolute;
     right: 20px;
     bottom: 20px;
        }
  .cur {
    cursor: pointer;
  }
  #div1>a {
    text-decoration: underline #548CA8;
    color: #548CA8;
  }